<a href="https://colab.research.google.com/github/nicolegold/DataScienceDoZero/blob/master/R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AQUECE MARATONA 2020! 

*   LOTE 2 ( 102,00 ) https://www.qoda.com.br/maratona-data-science-pre-venda/
*   LOTE 3 ( 222,00 )
*   LOTE FINAL ( 992,00 )




---
![](https://www.qoda.com.br/wp-content/uploads/2020/02/timeline-maratona.png)


---

*   LOTE 2 ( 102,00 ) https://www.qoda.com.br/maratona-data-science-pre-venda/
*   LOTE 3 ( 222,00 )
*   LOTE FINAL ( 992,00 )

#R: o básico

---

Vantagens R:
* Open-Source: gratuito e com comunidade cada vez maior e mais ativa;
* Com uma grande comunidade por conta do fenômeno Open Source, surgem milhares de bibliotecas gratuitas para uso;
* Multi-plataforma: Windows, Mac, Linux…
* Já falamos que é requisito para a “profissão mais sexy do século” ?<br><br>
![Ranking das Linguagens de Programação e suas aplicações do IEE SPECTRUM
](https://secureservercdn.net/198.71.233.197/o9y.9a5.myftpupload.com/wp-content/uploads/ranking-linguagens.png)

## AMBIENTE DE DESENVOLVIMENTO

---


* ANACONDA em https://www.anaconda.com/distribution/
* Efetue download/instalação do R em https://cloud.r-project.org/

* Efetue download/instalação do RStudio(IDE para programarmos com R) em https://www.rstudio.com/products/rstudio/download/
* Novo projeto R com Colab https://colab.research.google.com/notebook#create=true&language=r

## Declarando variáveis, comentando código e printando na tela:

---



* Declare variáveis com = ou <-
* Utilize # para comentar linhas
* Utilize print() para executar na tela
* Utilize readline(prompt=”…”) para receber texto(inputs)

In [0]:
# Você pode declarar variáveis utilizando "=" ou "<-"
x = "Hello Qoda!"
y <- "Hello Qoda!"

In [0]:
z = readline(prompt="Qual é o seu nome?")
print(z)

Qual é o seu nome?Nicole
[1] "Nicole"

## Tipos de Dados(básicos)

* Character(“Texto”)
Neste tipo inserimos caracteres, podendo ser números, textos, símbolos…;
* Integer (1L)
Integer se refere a números inteiros e utilizamos o “L” para determina-lo, diferente do Numeric, onde os números são decimais: 1.0 e não 1;
* Numeric (7.25)
Números decimais, mesmo que declarando-os como 12, o sistema retornará 12.0, por exemplo.
* Logical (T/F ou TRUE/FALSE)
Tipo de dado com retorno TRUE ou FALSE, assim como T ou F. TRUE quando atendidas as condições e FALSE quando não atendidas. Nos aprofundaremos logo logo neste tipo de dado: tenha paciência.

In [0]:
caract = "Texto caractere"
class(caract) 
#retorna 'character'

In [0]:
inteiro = 15L
class(inteiro) 
#retorna 'integer'

In [0]:
num = 15
class(num)
#retorna 'numeric'

In [0]:
logic = T
class(logic)
#retorna 'logical'

## Estruturas de Dados

---

In [0]:
# VETOR 

vec = 3
is.vector(vec) #Retorna TRUE

In [0]:
# Para adicionar diversos elementos em 1 vetor, use c()
vec = c(1,2,3,"texto")
class(vec) #retorna character pois todos elementos serão do mesmo tipo

## LISTA 


---

In [0]:
x = c("texto1","texto2")
y =  c(1,2,3)
z = c(T,F,T)
lista = c(x,y,z) 
class(lista)
#retorna: 'texto1' 'texto2' '1' '2' '3' 'TRUE' 'FALSE' 'TRUE'

## MATRIZ 



---

In [0]:
mat = matrix(c(1,2),nrow=1,ncol=2,byrow = TRUE) 
#nrow se refere ao número de colunas e ncol se refere ao número de linhas
#byrow insere os elementos dentro de linhas quando TRUE ou em colunas, quando FALSE
#retorna: 1 2
mat

## DATAFRAME (estrutura para armazenar em forma de tabela)



---

In [0]:
x = data.frame(nome = c("Ana","Weber","Aquiles"),
               idade = c(24L,27L,2L),
               salario = c(12000,0,0))
#nrow(x) #retorna número de linhas do dataframe
#ncol(x) #retorna número de colunas do dataframe
dim(x) #retorna número de linhas e colunas

## CONDICIONAIS


---

In [0]:
if (3 > 0) {
 
    print("3 é maior que 0")
 
}

In [0]:
if (3 == 0) {
 
  print("3 = 0")
 
} else {
 
    print("3 não é igual a 0")
 
}

In [0]:
a = 1
b = 2
ifelse(a>0,"A maior que 0","A menor que 0")
#retorna A maior que 0

## FUNÇÕES

---

In [0]:
# FUNÇÕES R BASE
x = c(1,2,3,4,5,6,7,8,9,10)
#sd(x) #desvio padrão
#mean(x) #média
#head(iris) #primeiras linhas dataframe
#tail(iris) #ultimas linhas dataframe
file.choose() #abre pasta para caminho de arquivos

In [0]:
raizquadrada = function(x) {
  return(x*x)
}
raizquadrada(4)

## PACOTES

---

In [0]:
#Instala pacote
install.packages("ggplot2", dependencies=TRUE)

# Carrega pacote para ser utilizado no código
library(ggplot2)